html {
    background-color: rgb(12, 18, 26);
}

body {
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: aqua; */
}

div.header {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    padding: 12px 0px;
    min-width: 750px;
    /* border-bottom: 2px solid rgb(12, 18, 26); */
    /* border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; */
    /* color: rgb(12, 18, 26); */
    /* background-color: white; */
    color: white;
    text-decoration: dotted underline;
}

hr {
    margin: 0;
    padding: 0;
    min-width: 750px;
}

div.main-box {
    margin-top: 16px;
    display: flex;
    /* justify-content: space-around; */
    /* background-color: aquamarine; */
}

/* div.sub-header {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 900;
    padding: 8px 0px;
    color: rgb(12, 18, 26);
    background-color: white;
} */

/* div.h-amt,
div.h-recipient,
div.h-sender,
div.h-status,
div.h-date{
    background-color: red;
} */

/* div.items {
    display: flex;
    justify-content: space-around;
    background-color: blue;
} */

div.amt,
div.recipient,
div.sender,
div.status,
div.date {
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: white;
    /* color: rgb(228, 32, 32); */
    /* background-color: green; */
}

div.sub-header {
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    align-self: stretch;
    text-align: center;
    color: rgb(12, 18, 26);
    /* color: rgb(40, 150, 40); */
    background-color: white;
}